*{
    font-family: monospace;
}

#site-data{
    display: none;
}           

#header{
    
}

#nav-links{
	float: right;
}

#logo{
    float: left;
}

#logo img{
	max-width: 80px;
}

body{
	margin: 0px;
    padding: 0px;
    background: black;
    color: aliceblue;
}

img{
	max-width: 100%;
	height: auto;
}

div,
p,
img,
input,
span,
textarea,
canvas,
h1, h2, h3, h4, h5, h6{
	box-sizing: border-box;
}

a{
	color: white;
	letter-spacing: 1px;
	font-family: press-start;
	text-decoration: none;
}
a:hover{
	color: #13e1e1;
}

.flex-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#content{
    display: inline-block;
    width: 100%;
    
}

#content input{
    width: 100%;
    margin: 20px 0;
}

.contain{
	
	text-align: center;
}

.constrain{
	display: inline-block;
	width: 100%;
	text-align: left;
	max-width: 1000px;
}

input[type=text],
input[type=email],
input[type=password]{
	background: rgba(0, 0, 0, .5);
	color: white;
	padding: 8px 8px;
	border: 1px solid;
}
#content input[type=checkbox]{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}


.spinner{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9;
	transition: .3s;
	background: rgba(0, 0, 0, .2);

    display: none;

}
.spinner>img{
	width: 50px;
	max-width: 90% !important;
}



input.button{
/* 	background: transparent; */
	cursor: pointer;
	color: lightblue;
    text-transform: uppercase;
    letter-spacing: 3px;
}
input.button:hover{
	color: white;
}

.button{
	border: 1px solid green;
	padding: 5px 10px;
	cursor: pointer;
	user-select: none;
	box-shadow: 2px 2px black;
	display: inline-block;
    color: lightblue;
    background: rgba(0, 255, 55, .2);
}
.button:hover{
	color: white;
}
.button:active,
.button.selected:active{
	transform: translate( 1px, 1px );
	box-shadow: 0px 0px black;;
}
.button.selected{
	background: rgba( 20, 50, 60, .8 )
}

.stat{
	color: #8af5f5;
}
.stat span{
	color: #fffe3f;
}
.stat-set{
	color: lightgrey;
	font-weight: bold;
/* 	background:  */
}
.stat-set .stat{
	font-weight: initial;
}

.stat-set span{
	padding-left: 10px;
}

.disabled{
	opacity: .5;
	pointer-events: none;
}


.faded{
	opacity: .5;
}

.hidden{
	opacity: 0;
	pointer-events: none;
}

.squashed{
	height: 0px !important;
	overflow: hidden;
}

.undisplay{
	display: none;
}

.removed,
.auth-link.removed{
	display: none
}

.highlighted{
	color: white;
}

.ui-fader{
	transition: .3s;
}



.row{
	font-size: 0px;
	width: 100%;
	max-width: 100%;
}
.column{
	font-size: initial;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.column-2{
	max-width: 50%;
}
.column-3{
	max-width: 33%;
}
.column-4{
	max-width: 25%;
}

.opacity-pulse{
	animation: opacity_pulse 2s infinite;
}

.announce{
	text-align: center;
}

input.no-edit{
	border: 0px;
	pointer-events: none;
}

body.index #content{
	text-align: center;
	padding-top: 50px;
}

.nav-link{
    display: inline-block;
    padding: 3px 10px;
}

.script-upload{
	max-width: 300px;
	border: 1px solid #403f3f;
	padding: 10px;
	margin: 10px;
}





@keyframes link_pulse {
	90% { opacity: .8 }
	100% { opacity: 1 }
}

@keyframes button_pulse {
	50% { background: transparent }
	100% { background: #ad7c24 }
}

@keyframes opacity_pulse {
	10% { opacity: 0 }
	100% { opacity: 1 }
}
